* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
:root {
    --primary-color: #1ebfc1;
}

/*==========common========= */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn {
    width: 186px;
    height: 68px;
    background-color: var(--primary-color);

    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
}
/*========header====== */
.header {
    padding: 42px 0 0;
    background: #fff;
    /* background-color: red; */
}
.fixed {
    position: sticky;
    z-index: 2;
    top: -40px;
}
.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.header .nav ul {
    display: flex;
}

.header .nav a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;

    color: #2f3a3b;
    padding: 8px 19px;
    transition: 0.4s;
}
.header .nav li:nth-child(1) a {
    text-shadow: 1px 0 0#2F3A3B;
}
.header .nav a:hover {
    text-shadow: 1px 0 0#2F3A3B;
    text-decoration: underline;
}
.header .sign-in {
    margin-right: 24px;
    font-weight: 400;
    font-size: 1.6rem;

    text-align: center;

    color: #494949;
    transition: 0.4s;
}
.header .sign-in:hover {
    color: var(--primary-color);
}
.header .sign-up {
    padding: 12px 24px;
    border: 2px solid #1ebfc1;
    border-radius: 8px;
    background-color: transparent;
    /* chữ */
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #1ebfc1;
    transition: 0.4s;
}
.header .sign-up:hover {
    background-color: var(--primary-color);
    color: #fff;
}
/* ========hero======= */
.hero .body {
    padding: 50px 0 80px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
/* ======left======= */
.hero .body-left {
    width: 40%;
    padding-top: 93px;
}
.hero .hero-label {
    font-weight: 400;
    font-size: 1.4rem;

    color: #767e7e;
}
.hero .head {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;

    color: #0d1111;
    max-width: 458px;
}
.hero .desc {
    margin-top: 46px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
    max-width: 370px;
}
.hero .get-start {
    margin-top: 52px;
}
.hero .get-start button {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    border: none;
    color: #ffffff;
    transition: 0.4s ease-in-out;
}
.hero .get-start {
    display: flex;
    align-items: center;
}
.hero .get-start button:hover {
    background-color: #fff;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
}
.hero .get-start a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    margin-left: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: 1.5px solid #1ebfc1;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    color: var(--primary-color);
    transition: 0.4s;
}
.hero .get-start a:hover {
    background-color: var(--primary-color);
}
.hero .get-start a:hover svg {
    color: #fff;
}
/* =====right====== */
.hero .body-right {
    margin-left: auto;
    padding-left: 71px;
    position: relative;
}
.hero .img-right {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .courses {
    position: absolute;
    top: 149px;
    left: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 18px 25px;
    /* background-color: red; */
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    z-index: 1;
}
.hero .courses::before {
    position: absolute;
    top: 44px;
    left: 27px;
    content: "";
    width: 31px;
    height: 5px;
    background-color: #fff;
    /* z-index: 1; */
    border-radius: 4px;
}

.hero .courses label-right {
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;

    color: #0d1111;
}
.hero .courses .c {
    width: 55px;
}
.hero .body-right .schedules {
    position: absolute;
    top: 453px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 145px;
    background-color: #fff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}
.hero .body-right .schedules {
    padding: 16px 0 23px;
}
.hero .body-right .progess {
    position: relative;
    width: calc(100% - 20px);
    height: 30px;
    background: #edf1f5;
    border-radius: 3px;
    margin-top: 15px;
}
.hero .body-right .progess::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    background: #fb9899;
    border-radius: 3px;
    width: 50px;
    height: 7px;
}
.hero .body-right .schedules .t {
    margin-top: 20px;
}
.hero .body-right .schedules .h::before {
    width: 70px;
}
.hero .body-right .schedules .a::before {
    width: 30px;
}
.hero .body-right .progess-small {
    width: 50px;
    height: 30px;
    background: #edf1f5;
    border-radius: 3px;
    margin-top: 15px;
}
.hero .body-right .avatars {
    position: absolute;
    top: 500px;
    left: 324px;
    display: inline-block;
    /* width: 137px;
    height: 56px; */
    padding: 17px 35px;
    background: #fefefd;
    /* background-color: red; */
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}
.hero .body-right .student-item {
    display: flex;
    margin-top: 10px;
}
.hero .body-right .avatar-item {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -7px;
}
.hero .body-right .avatar-item:first-child {
    margin-left: 0;
}

/*=====features===== */

/* .features {
    background: #e5e5e5;
} */
.features .body-features {
    padding-top: 130px;
}
.features .features-title {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
}
.features h2 {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;

    color: #0d1111;
    max-width: 577px;
}
.features .desc-features {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
    max-width: 51%;
}
.features-bottom .list ul {
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
}
.features-bottom .list li {
    width: 32%;
}
.features-bottom .list li:nth-child(2) {
    width: 36%;
}
.features-bottom .image {
    padding: 10px;
    background: #ffc147;
    border-radius: 18px;
}
.features-bottom li:nth-child(2) .image {
    background: #ff947a;
}
.features-bottom li:nth-child(3) .image {
    background: #bf83ff;
}
.features .title {
    font-weight: 600;
    font-size: 2rem;
    color: #0d1111;
    margin-top: 26px;
}
.features .desc {
    margin-top: 26px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
    max-width: 200px;
}
.features li:nth-child(2) .desc {
    max-width: 234px;
}
.features li:nth-child(3) .desc {
    max-width: 224px;
}
/*=========popular-courses======= */
.popular {
    background-color: #fff;
    /* background: #e5e5e5; */
    /* background-color: red; */
}
.popular .popular-body {
    padding: 130px 0 165px 0px;
}
.popular-title {
    font-weight: 700;
    font-size: 1.2rem;

    color: #767e7e;
}
.popular .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    color: #0d1111;
}
.popular .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .desc {
    margin-top: 19px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;

    color: #767e7e;
    width: 45%;
}
.popular .cta {
    font-weight: 700;
    font-size: 1.4rem;

    color: #1ebfc1;
}
.popular .cta:hover {
    text-decoration-line: underline;
}

.popular .list {
    display: flex;
    gap: 47px;
    margin-top: 79px;
}
.popular .courses-item {
    flex: 1;
    position: relative;
}
.popular .courses-item .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
}
.popular .courses-item:hover .thumb {
    transform: scale(1.2);
    opacity: 1;
}
.popular .info {
    position: absolute;
    top: 322px;
    left: 10px;
    z-index: 1;
    display: inline-block;
    width: 318px;
    height: 195px;
    /* padding: 18px 82px 29px 25px; */
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.popular .title {
    margin: 18px 0 0 25px;
    font-weight: 700;
    font-size: 2.2rem;
    color: #0d1111;
}
.popular .info .info-price {
    margin: 16px 0 0 25px;
    font-weight: 400;
    font-size: 1.6rem;

    color: #767e7e;
}
.popular strong {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0d1111;
}
.popular .info-desc {
    /* max-width: 230px; */
    margin: 12px 0 0 25px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;

    color: #9da6a5;
}
.popular .info-label {
    margin: 18px 0 0 40px;

    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
}
.popular .info-label-class {
    position: relative;
    margin-right: 26px;
}
.popular .info-label-class::before {
    content: "";

    position: absolute;
    top: 5px;
    left: -16px;
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 50%;
}
.popular .info-label-month {
    position: relative;
}
.popular .info-label-month::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -15px;
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 50%;
}
/* state section */
/* .section {
    background-color: red;
} */
#section .body-section {
    padding: 100px 0 65px 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.section .section-item {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}
.section .section-item:last-child {
    margin-right: 0;
}
#section .number {
    font-weight: 700;
    font-size: 6.2rem;

    text-align: center;

    color: #0d1111;
}
.section .label {
    margin-top: 11px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;

    color: #767e7e;
}
/* feedback */
.feedback {
    /* background-color: red; */
    padding: 64px 0 40px 0;
    margin-top: 130px;
    margin-bottom: 90px;
}
.feedback .body-feedback {
    display: flex;
    position: relative;
}
.feedback .content-fb {
    width: 36%;
}
.feedback blockquote {
    margin-top: 27px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.5;

    color: #5d6564;
    width: 429px;
}
.feedback .title {
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    margin-left: 15px;
    margin-top: 33px;
    color: #767e7e;
}

.feedback .title strong {
    font-weight: 500;
    font-size: 1.6rem;

    color: #070707;
}
.feedback .title::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -13px;
    width: 10px;
    height: 3px;

    background: #070707;
}
.feedback .next-page {
    margin-top: 52px;
}
.feedback a {
    padding: 15px 22px;
    border-radius: 50%;
    background: #2ac9bf;
    margin-right: 20px;
    border: 1.5px solid transparent;
    transition: 0.4s ease-in-out;
}
.feedback svg {
    color: #ffffff;
}
.feedback a:hover {
    background-color: #fff;
    border: 1.5px solid #2ac9bf;
}
.feedback a:hover svg {
    color: #2ac9bf;
}

.feedback .img-fb {
    border-radius: 50%;
    object-fit: cover;
    margin-left: 72px;
}
.feedback .icon-1 {
    width: 92px;
    height: 92px;
    position: absolute;
    top: 0;
    left: 635px;
}
.feedback .icon-2 {
    width: 110px;
    height: 110px;
    position: absolute;
    right: 0;
    top: 19px;
}
.feedback .icon-3 {
    width: 235px;
    height: 235px;
    position: absolute;
    top: 107px;
    left: 764px;
}
.feedback .icon-4 {
    width: 78px;
    height: 78px;
    position: absolute;
    top: 258px;
}
.feedback .icon-5 {
    width: 78px;
    height: 78px;
    position: absolute;
    bottom: 0;
    right: 389px;
}
.feedback .icon-6 {
    width: 78px;
    height: 78px;
    position: absolute;
    bottom: 29px;
    right: 32px;
}
/* admit */
.admit {
    padding: 76px 0 88px;
    margin-bottom: 65px;
    background: #def6f5;
}
.admit .admit-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.admit .title {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.5;
    color: #070707;
}
.admit .desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}
.admit .btn-link {
    margin-left: 410px;
}
.admit button {
    border: none;
    padding: 20px 40px;
    background: #2ac9bf;
    border-radius: 14px;
    transition: 0.4s ease-in-out;
    /* chữ */
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;

    color: #ffffff;
}
.admit button:hover {
    border: 1px solid var(--primary-color);
    background-color: #fff;
    color: #1ebfc1;
}
.footer {
    padding-top: 65px;
}
.footer .row {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* text-align: center; */
}
.footer .title {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #2e2e2e;
}
.footer a {
    display: inline-block;
    margin-top: 19px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;

    color: #535353;
}

.footer li:first-child {
    /* display: inline-block; */
    margin-top: 25px;
}
.footer li:hover a {
    text-decoration: underline;
}
.footer .img-icon {
    margin-right: 15px;
}
.footer .copyright {
    margin: 80px auto 50px;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;

    color: #b0b5b4;
}
